body {
    background-color: #f1f1f1;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.nav { grid-area: 1 / 4 / 2 / 6; }
.content { grid-area: 2 / 1 / 12 / 6; }
.footer { grid-area: 12 / 1 / 13 / 6; }
.header{ grid-area: 1 / 1 / 2 / 4; } 

.header {
    margin-left: 1.66%;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    width: 10%;
    height: 24px;
    font-family: 'Special Elite', cursive;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

li {
    float: right;
    text-align: center;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header a:visited {
    color: black;
}

li a:hover {
    background-color: #555;
    color: white;
}
.nav {
    margin-left: auto;
}

.footer {
    font-size: 12px;
    text-align: center;
}