#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .nav { grid-area: 1 / 4 / 2 / 6; }
    .content { grid-area: 2 / 1 / 5 / 6; }
    .footer { grid-area: 5 / 1 / 6 / 6; }
    .header{ grid-area: 1 / 1 / 2 / 4; } 

.header {
    /* border: 1px solid green; */
    margin-left: 1.66%;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    width: 30%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid black;
    overflow: hidden;
}

li {
    float: right;
    text-align: center;
    /* border-bottom: 1px solid black; */
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}
.nav {
    border: 1px solid red;
}

.content {
    border: 1px solid green;
}

.footer {
    border: 1px solid blue;
}